nav
  width: 100%
  position: fixed
  height:75px
  margin-bottom: 0px
  background: $backgroundColor
  display: block
  z-index: 13
  border-bottom: 1px solid transparent
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18)
  .menu-icon
    top: 14px
    transition: 300ms
  &:after
    content: ''
  li, ul, a, h3, h1
    color: white
  &.post-active
    background: white
    border-color: #ddd
    li, ul, a, h3.nav-title, h1, ul li
      color: #393939 !important
  a.logo
    img
      display: none
    a.nav-close 
      height: 10px
  h3.nav-title
    span(1/26)
    display: inline
    h4()
    color: white
    span.hidden
      p()
      color: white
  h1.blog-title
    span(6/15)
    h3()
    font-family: $Gotham
    font-weight: 700
    padding-top: 28px
    color: #eee
    letter-spacing: 5px
    transition: 300ms
  .menu-icon
    position: fixed
    z-index: 10
    float: right
    text-align: right
    margin-right: 0
    margin-left: auto
    width: auto
    height: 50px
    right: 50px
    top: 20px
    svg.svg
      transition: 100ms
      height: 30px
      width: 30px
      &:hover
        fill: black
        #Page-1
          fill: black
  .filterMenu
    width: 250px
    box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.2)
    position: absolute
    background: transparent
    height: 100vh
    padding-top: 10px
    top: 0px
    margin-right: -250px
    right:0
    opacity: 0.98
    color: white
    transition: .14s ease-out
    display: block
    &.is-active
      margin-right: 0
      transition: .14s ease-in
  ul
    list-style: none
    height: inherit
    position: absolute
    display: block
    top: 0
    bottom: 0
    width: 250px
    padding: 125px 0 0
    margin: 0 auto
    background-image: url('/assets/img/close.png')
    background-position: bottom right
    background: #f5f5f5
    
    li[role="presentation"]
      width: 100%
      font-family: $Gotham
      font-weight: 500
      text-align:center
      font-size: 12px
      line-height: 50px
      padding-top: 0px
      text-transform: uppercase
      cursor: pointer
      position: relative
      z-index: 2
      height: 100%   
      display: block
      height: 50px
      margin: 10px auto
      color: #666 !important
      a
        text-decoration none
        line-height: 50px
        transition: .1s ease-out
      &:hover
        transition: .1s ease-in
        background: #eee
        a
          color: green !important
      &.is-active-filter
        transition: 0ms
        color: green !important
      &:hover
        color: white
      &:last-of-type:hover
        color: #222

  img#close-menu
    position: absolute
    bottom: 10vh
    left: 0
    right: 0
    display: block
    margin: auto
    height: 20px
    cursor: pointer
    opacity: 0.7
  
