<footer>
    <span class="copyright">
        &copy; {{date format="YYYY"}} {{meta_title}}. All Rights Reserved. | Built for <a href="https://ghost.org/" target="_blank">The High Life</a><a href="https://github.com/kelyvin/caffeine-theme" target="_blank"></a>.
    </span>
</footer>
